.svg-animation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.svg {
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin-bottom: 53px;
    /* visibility: hidden; */
  }
.svg-animation h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

